.mycontainer{
	padding: 0px 0px;
	border-radius: 0px;
	box-shadow: inset 0px 0px 1px #aaa;
	height: 40px;
}

.myrow{
	height: 40px;
	margin: 0px 
}

.myrow2{
	height: 20px;
	margin: 0px 
}

/* Page heading */

.mypage-heading{
	background: url("../img/heading-back.jpg") !important;
	padding: 0px 0px;
	border-top: 5px solid #ddd !important;
	border-bottom: 3px solid #ddd !important;
}

.mypage-heading h2 i{
	border: 3px solid #52b9e9;
}

/* Reg & Login Form */

.myformy{
	padding: 15px 25px;
	display: block;
	color: #fff;
}

.myformy h5{
	color: #fff;
}

.myformy a, .myformy a:visited{
	color: #eee;
	text-decoration: underline;
}

.myformy a:hover{
	color: #fff;
	text-decoration: none;
}

.plist{
      color:black;
     }

.headerprivacy{
	color:lightblue;

}


.mybig-box{
	margin:20px 0px;
}

.mybig-box .mybig-box-left{
	width: 35%;
	float: left;
	height: 340px;
}

.mybig-box .mybig-box-mid{
	width: 60%;
	float: left;
	height: 340px;
}

.mybig-box .mybig-box-right{
	width: 5%;
	float: right;
	height: 300px;
}

.mybig-box .mybig-box-left{
	padding: 25px;
}

.mybig-box .mybig-box-left{
	font-size: 35px;
	line-height: 45px;
	margin-bottom: 10px;
}

.mybig-box .mybig-box-left p{
	font-size: 16px;
	line-height: 26px;
}

.mybig-box .mybig-box-left a.btn{
	padding: 10px 12px !important;
	margin-top: 10px;
	font-size: 15px !important;
}

.mybig-box .mybig-box-left .box-links a{
	margin-right: 10px;
	color: #fff;
	font-size: 15px;
}

.mybig-box .mybig-box-left .box-links a:hover{
	color: #fff;
}

.mybig-box .mybig-box-right .box-content{
	padding: 15px;
}

.mybig-box .mybig-box-right{
	font-size: 15px;
}

.mybig-box .mybig-box-right h4{
	color: #aaa;
	margin-top: 20px !important; 
	line-height: 10px !important;
}

.mybig-box .mybig-box-right .box-title{
	font-size: 20px;
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}
