{{extend 'layout_media.html'}}

{{block head_extra}}
{{end}}

{{block content}}

			<!--Main Content-->	
			<div class="main-content">
            <!--			    
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="icon-desktop"></i>
							<a href="#">Media</a>
							<small>
								<i class="icon-double-angle-right"></i>
								annotate media
							</small>
						</li>
					</ul>
                    
					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div>
				</div>-->

				<div class="page-content">
				<!-- L ??? <div class="page-header position-relative">
						<h1>
							Media
							<small>
								<i class="icon-double-angle-right"></i>
								annotate media
							</small>
						</h1>
					</div>--><!--/.page-header-->
			    	
				<!--PAGE CONTENT BEGINS-->
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span7">
								<!--Video and graph-->
								<div class="row-fluid">
									<div class="span12">
										<!--Video-->
										<div class="video-container">
											{{block media_frame}}
                                                <div class=" MediaPlayerDiv" id="MediaPlayerDiv" ></div>
                                            {{end}}
										</div>
										<!--End video-->
									</div>
									<div class="row-fluid">
										<div class="span12">
											<!--Graph-->
											<div id="GraphPlotDiv"> 
											<!--TODO-->
											</div>
											<!--End graph-->
										</div>
									</div>	
								</div>
								<!--End video and graph-->
							</div>
							<!--Comment section -->
							<div class="span5">
								<div class="widget-box ">
										<div class="widget-header">
											<h4 class="lighter smaller">
												<i class="icon-pencil orange"></i>
												Notes
											</h4>
											<div class="widget-toolbar no-border">
											<a class="btn btn-info btn-small dropdown-toggle" data-toggle="dropdown" href="#">
												<label>Filters</label>
												<span class="caret"></span>
											</a>
											<div class="dropdown-menu pull-right">
												<form class="form-horizontal" style="padding-right:20px; padding-top:10px; margin-left:-50px">
													<div class="control-group">
														<label class="control-label" style="padding-top:10px">Name</label>
														<div class="controls">
															<input type="text" placeholder="" id="usersearch" autocomplete="off">
														</div>
													</div>
													<div class="control-group">
														<label class="control-label" style="padding-top:10px">Color stamp</label>
														<div class="controls">
															<input type="text" placeholder="" id="colorsearch">
														</div>
													</div>
												</form>
											</div>
										</div>
										</div>

										<div class="widget-body">

											<div class="widget-main no-padding">
                                              {{block comments_frame}}
												<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 430px;"><div class="dialogs" style="overflow: auto; width: auto; height: 410px;">
                                                    <ul class="unstyled" id="CommentsList" data-bind='template: { name: "comment_template" , foreach: fscomments }'></ul>
												</div>
                                                {{end}}												
												<div class="slimScrollBar ui-draggable" style="background-color: rgb(0, 0, 0); width: 7px; position: absolute; top: 82px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 227.3357142857143px; background-position: initial initial; background-repeat: initial initial;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div></div>

												<form>

													<div class="form-actions input-append">
														<div class="control-group">
															<label class="control-label" for="colorpicker-inline">Select color</label>
															<div class="controls">
																<select name="colorpicker-inline" id="colorpicker-inline">
																	<!-- Colors from Google Calendar -->														
																	<option value="#7bd148">Green</option>
																	<option value="#5484ed">Bold blue</option>
																	<option value="#a4bdfc">Blue</option>
																	<option value="#46d6db">Turquoise</option>
																	<option value="#7ae7bf">Light green</option>
																	<option value="#51b749">Bold green</option>
																	<option value="#fbd75b">Yellow</option>
																	<option value="#ffb878">Orange</option>
																	<option value="#ff887c">Red</option>
																	<option value="#dc2127">Bold red</option>
																	<option value="#dbadff">Purple</option>
																	<option value="#e1e1e1">Gray</option>
																	<option value="#7bd148">Green</option>
																</select>
															</div>
														</div>
														<textarea class="span12" id="form-field-8" placeholder="Insert comment" style="height:80px"></textarea>
													</div>
												</form>
											</div><!--/widget-main-->
										</div><!--/widget-body-->
									</div>
								</div>
							</div>
						</div>
					</div>
				<!--Page content ends-->

{{end}}

{{block extra_scripts}}

<script id="comment_template" type="text/template">
    <li class="itemdiv dialogdiv">
		<div class="user">
			<img alt="<%-first_name()%>'s Picture" src="<%-thumbnail%>">
		</div>
		<div class="body">
			<div class="time"> <i class="icon-time"></i>
				<span class="green" >
				    <!-- This should be passed to the view model
                        and make it work using formatting -->
                    <%
                        var ht = Math.floor(media_time()/3600);
                        var hh =  ht >0? ht+":" : "";
                        ht = Math.floor((media_time() - ht )/60);
                        var mm = ht >0? ht+":" :  "";
                        var ss = (media_time()%60)>0 ? (media_time() % 60).toFixed(2) : "00";
                        var timetxt = hh+mm+ss;
                    %>
                    <%= timetxt %>
				</span>
				<a href="#"><span class="label arrowed arrowed-in-right" style="background-color: <%= flag_color() %>;" ><%-flag_name%></span></a>
			</div>

			<div class="name">
				<a href="#"><%-first_name%></a>
				
			</div>
			<div class="text">
				<%-text%>
			</div>
		</div>
	</li>
</script>
<!-- Dependences -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="{{=URL('static','js/ext_lib/knockback.js')}}"></script>
<script src="{{=URL('static','js/ext_lib/ko-mapping.js')}}"></script>

<!-- Facade for media players auto loads the needed library-->
<script src="{{=URL('static','js/libs/media_player_facade.js')}}"></script>
<script src="{{=URL('static','js/libs/graph_display_box.js')}}"></script>


<!-- IN PROGRESS integration with knockbackjs-->


<script src="{{=URL('static','js/libs/kb/knockout-underscore-templater.js')}}"></script>

<script src="{{=URL('static','js/libs/kb/shared.js')}}"></script>

<script src="{{=URL('static','js/libs/kb/models.js')}}"></script>

<script src="{{=URL('static','js/libs/kb/view-models.js')}}"></script>

{{end}}
