{{extend 'layout_guest.html'}}

{{block content}}
<div class="content">
        <div class="container">

            <div class="contact" style="color:black !important">
                <div class="row">
                    <div class="span6" "bgreen">
                        <div class="cwell">
                            <!-- Contact form -->
                            <h3 class="title" style="color:black !important">Contact Form</h3>
                            <div class="form">
                                <!-- Contact form (not working)-->                              
                                {{=form}}<!--TODO add email functionality-->

                            </div>
                        </div>
                    </div>


                    <div class= "span6">
                        <br>

                        <img src="../static/images/annotit_leo_pencil.png" class="pull-right"  width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}  <!-- end block body-->
{{block extra_scripts}}
<!-- Here write any page speficic things for example specific scripts-->
{{end}}
